[submodule "provisioning/roles/kypo-disable-qxl"]
	path = provisioning/roles/kypo-disable-qxl
	url = https://gitlab.ics.muni.cz/muni-kypo/ansible-roles/disable-qxl.git
[submodule "provisioning/roles/kypo-user-access"]
	path = provisioning/roles/kypo-user-access
	url = https://gitlab.ics.muni.cz/muni-kypo-crp/backend-python/ansible-networking-stage/kypo-user-access.git
